/*
body {
    margin: 0px;
    padding: 0px;
    background-image: url("../../common/background.png");
    background-color: #b8e5f8;
    background-size: cover;
}

.float_right {
    float: right;
}*/
