.float_container {
    overflow: hidden;
    margin: 20px 0;
}

button {
    cursor: pointer;
}

/*居中对齐*/
.text_align_center {
    text-align: center;
}

/*字体颜色*/
.title_prompt_color {
    color: rgb(132, 143, 167);
}

