* {
    padding: 0px;
    margin: 0px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

/*校验不通过*/
.checkNoPass::placeholder {
    color: red;
}

.originalPlaceholder {
    color: rgb(140, 160 ,157);
}

.relative_class {
    position: relative;
}

/*左对齐*/
.text_align_left {
    text-align: left;
}

/*字体颜色*/
.title_prompt_color {
    color: rgb(132, 143, 167);
}

/*上下边距*/
.top_bottom_margin {
    margin: 20px 0px;
}

/*标准输入框*/
.input_standard {
    font-size: 14px;
    border: none;
    outline-style: none;
}
